.ui-chip {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 1px solid;
   outline: none;
   user-select: none;
   transition: all 0.15s linear, box-shadow 0.3s ease-in-out;
   z-index: inherit;
}

.ui-chip.clickable{
   cursor: pointer;
}

.ui-chip svg {
   flex-shrink: 0;
}

/* COLORS*/

/* Primary */

.ui-chip.color-primary {
   box-shadow: 0 0 0 0 var(--primary-light);
}

/* filled */
.ui-chip.color-primary.variant-filled {
   background-color: var(--primary-main);
   border-color: var(--primary-main);
   color: var(--primary-contrast);
}

/* filled:hover */
@media screen and (hover: hover) {
   .ui-chip.color-primary.variant-filled.clickable:hover {
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
   }
}

@media screen and (hover: none) {
   .ui-chip.color-primary.variant-filled.clickable:active {
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
   }
}

/* outlined */
.ui-chip.color-primary.variant-outlined {
   background-color: var(--primary-contrast);
   border-color: var(--primary-main);
   color: var(--primary-main);
}

/* outlined:hover */
@media screen and (hover: hover) {
   .ui-chip.color-primary.variant-outlined.clickable:hover {
      border-color: var(--primary-dark);
      color: var(--primary-dark);
   }
}

@media screen and (hover: none) {
   .ui-chip.color-primary.variant-outlined.clickable:active {
      border-color: var(--primary-dark);
      color: var(--primary-dark);
   }
}

/* Secondary */

.ui-chip.color-secondary {
   box-shadow: 0 0 0 0 var(--secondary-light);
}

/* filled */
.ui-chip.color-secondary.variant-filled {
   background-color: var(--secondary-main);
   border-color: var(--secondary-main);
   color: var(--secondary-contrast);
}

/* filled:hover */
@media screen and (hover: hover) {
   .ui-chip.color-secondary.variant-filled.clickable:hover {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
   }
}

@media screen and (hover: none) {
   .ui-chip.color-secondary.variant-filled.clickable:active {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
   }
}

/* outlined */
.ui-chip.color-secondary.variant-outlined {
   background-color: var(--secondary-contrast);
   border-color: var(--secondary-main);
   color: var(--secondary-main);
}

/* outlined:hover */
@media screen and (hover: hover) {
   .ui-chip.color-secondary.variant-outlined.clickable:hover {
      border-color: var(--secondary-dark);
      color: var(--secondary-dark);
   }
}

@media screen and (hover: none) {
   .ui-chip.color-secondary.variant-outlined.clickable:active {
      border-color: var(--secondary-dark);
      color: var(--secondary-dark);
   }
}

/* Neutral */

.ui-chip.color-neutral {
   box-shadow: 0 0 0 0 var(--neutral-dark);
}

/* filled */
.ui-chip.color-neutral.variant-filled {
   background-color: var(--neutral-main);
   border-color: var(--neutral-main);
   color: var(--neutral-contrast);
}

/* filled:hover */
@media screen and (hover: hover) {
   .ui-chip.color-neutral.variant-filled.clickable:hover {
      background-color: var(--neutral-dark);
      border-color: var(--neutral-dark);
      color: var(--neutral-main);
   }
}

@media screen and (hover: none) {
   .ui-chip.color-neutral.variant-filled.clickable:active {
      background-color: var(--neutral-dark);
      border-color: var(--neutral-dark);
   }
}

/* outlined */
.ui-chip.color-neutral.variant-outlined {
   background-color: var(--neutral-extra-light);
   border-color: var(--neutral-dark);
   color: var(--neutral-dark);
}

/* outlined:hover */
@media screen and (hover: hover) {
   .ui-chip.color-neutral.variant-outlined.clickable:hover {
      border-color: var(--neutral-contrast);
      color: var(--neutral-contrast);
   }
}

@media screen and (hover: none) {
   .ui-chip.color-neutral.variant-outlined.clickable:active {
      border-color: var(--neutral-dark);
      color: var(--neutral-dark);
   }
}

/* Sizes */

/* large */

.ui-chip.size-lg {
   gap: 0.6rem;
   border-radius: 0.7rem;
   padding: 0.6rem;
   font-size: 1.1rem;
}

.ui-chip.size-lg svg {
   width: 1.2rem;
}

.ui-chip.size-lg svg:only-child {
   width: 1.3rem;
}

/* medium */

.ui-chip.size-md {
   gap: 0.5rem;
   border-radius: 0.6rem;
   padding: 0.5rem;
   font-size: 1rem;
}

.ui-chip.size-md svg {
   width: 1rem;
}

.ui-chip.size-md svg:only-child {
   width: 1.1rem;
}

/* small */

.ui-chip.size-sm {
   gap: 0.4rem;
   border-radius: 0.5rem;
   padding: 0.4rem;
   font-size: 0.9rem;
}

.ui-chip.size-sm svg {
   width: 0.8rem;
}

.ui-chip.size-sm svg:only-child {
   width: 0.9rem;
}

.ui-chip.size-lg.wave {
   animation: wave-lg 0.3s ease-in-out;
}

.ui-chip.size-md.wave {
   animation: wave-md 0.3s ease-in-out;
}

.size-sm.wave {
   animation: wave-sm 0.3s ease-in-out;
}

@keyframes wave-lg {
   100% {
      box-shadow: 0 0 0 0.5rem transparent;
   }
}

@keyframes wave-md {
   100% {
      box-shadow: 0 0 0 0.4rem transparent;
   }
}

@keyframes wave-sm {
   100% {
      box-shadow: 0 0 0 0.3rem transparent;
   }
}
