*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

html {
   font-family: "Arial", sans-serif;
   font-size: 20px;
}

a {
   text-decoration: none;
}
