:root {
   --primary-main: #0070ff;
   --primary-contrast: #ffffff;
   --primary-light: #7cb5ff;
   --primary-extra-light: #e8f3ff;
   --primary-dark: #0057c8;

   --secondary-main: #2b2b2b;
   --secondary-contrast: #ffffff;
   --secondary-light: #626262;
   --secondary-extra-light: #ebebeb;
   --secondary-dark: #151515;

   --neutral-main: #dcdcdc;
   --neutral-contrast: #2b2b2b;
   --neutral-light: #e7e7e7;
   --neutral-extra-light: #ffffff;
   --neutral-dark: #525252;

   --inactive: #c1c1c1;
   --base-input-text: #000000;
}

/* s means 'shared' */
.ui-s-weight-400{
   font-weight: 400;
}

.ui-s-weight-500{
   font-weight: 500;
}

.ui-s-weight-600{
   font-weight: 600;
}
