.ui-skeleton {
   width: 100%;
   border-radius: 0.2rem;
   background-color: var(--neutral-main);
}

.ui-skeleton.variant-rectangle.size-lg {
   height: 0.9rem;
}

.ui-skeleton.variant-rectangle.size-md {
   height: 0.6rem;
}

.ui-skeleton.variant-rectangle.size-sm {
   height: 0.3rem;
}

.ui-skeleton.variant-disc {
   aspect-ratio: 1 / 1;
   width: auto;
   border-radius: 50%;
}

.ui-skeleton.variant-disc.size-lg {
   width: 2.2rem;
}

.ui-skeleton.variant-disc.size-md {
   width: 2rem;
}

.ui-skeleton.variant-disc.size-sm {
   width: 1.8rem;
}

.ui-skeleton.animation-pulse {
   animation: skeleton-pulse 2s ease-in-out 0.5s infinite;
}

.ui-skeleton.animation-wave {
   background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.1) 75%
   );
   background-size: 200% 100%; /* Увеличиваем фон, чтобы создать иллюзию движения */
   animation: skeleton-wave 3s linear infinite; /* Запускаем анимацию */
}

@keyframes skeleton-pulse {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0.4;
   }
   100% {
      opacity: 1;
   }
}

@keyframes skeleton-wave {
   0% {
      background-position: 200% 0; /* Начальное положение фона (справа) */
   }
   100% {
      background-position: -200% 0; /* Конечное положение фона (слева) */
   }
}
