.ui-tooltip {
   position: relative;
   display: inline-block;
}

.ui-tooltip__text {
   position: absolute;
   top: calc(100% + 10px);
   left: 50%;
   transform: translate(-50%, 0);
   min-width: 100%;
   padding: 5px;
   border-radius: 6px;
   background-color: rgba(0, 0, 0, 0.9);
   color: #fff;
   text-align: center;
   font-size: 0.8rem;
   white-space: nowrap;
   z-index: 1;
}

.ui-tooltip__text:before {
   content: "";
   position: absolute;
   top: -10px;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
   z-index: 2;
}

/* Sizes */

/* large */

.ui-tooltip.size-lg .ui-tooltip__text {
   padding: 0.6rem;
   border-radius: 0.8rem;
   font-size: 1rem;
}

/* medium */

.ui-tooltip.size-md .ui-tooltip__text {
   padding: 0.4rem;
   border-radius: 0.6rem;
   font-size: 0.9rem;
}

/* small */

.ui-tooltip.size-sm .ui-tooltip__text {
   padding: 0.3rem;
   border-radius: 0.4rem;
   font-size: 0.8rem;
}

/* Transition */
.ui-tooltip-fade-enter-active,
.ui-tooltip-fade-leave-active {
   transition: opacity 0.3s ease, transform 0.3s ease;
}

.ui-tooltip-fade-enter-from {
   opacity: 0;
   transform: translate(-50%, 5px);
}

.ui-tooltip-fade-enter-to {
   opacity: 1;
   transform: translate(-50%, 0);
}

.ui-tooltip-fade-leave-from {
   opacity: 1;
   transform: translate(-50%, 0);
}

.ui-tooltip-fade-leave-to {
   opacity: 0;
   transform: translate(-50%, 5px);
}
