.ui-tooltip {
   position: relative;
   display: inline-block;
}

.ui-tooltip__text {
   position: absolute;
   min-width: 100%;
   padding: 5px;
   border-radius: 6px;
   background-color: var(--secondary-main);
   color: #fff;
   text-align: center;
   font-size: 0.8rem;
   white-space: nowrap;
   z-index: 1;
}

/* arrow */
.ui-tooltip__text:before {
   content: "";
   position: absolute;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent var(--secondary-main) transparent;
   z-index: 2;
}

/* Position */

/* bottom */

.ui-tooltip.position-bottom .ui-tooltip__text {
   top: calc(100% + 10px);
   left: 50%;
   transform: translate(-50%, 0);
}

.ui-tooltip.position-bottom .ui-tooltip__text:before {
   top: -10px;
   left: 50%;
}

/* top */

.ui-tooltip.position-top .ui-tooltip__text {
   bottom: calc(125%);
   left: 50%;
   transform: translate(-50%, 0);
}

.ui-tooltip.position-top .ui-tooltip__text:before {
   bottom: -10px;
   left: 50%;
   transform: rotate(180deg);
}
/* Sizes */

/* large */

.ui-tooltip.size-lg .ui-tooltip__text {
   padding: 0.6rem;
   border-radius: 0.8rem;
   font-size: 1rem;
}

/* medium */

.ui-tooltip.size-md .ui-tooltip__text {
   padding: 0.4rem;
   border-radius: 0.6rem;
   font-size: 0.9rem;
}

/* small */

.ui-tooltip.size-sm .ui-tooltip__text {
   padding: 0.3rem;
   border-radius: 0.4rem;
   font-size: 0.8rem;
}

/* Transition */
.ui-tooltip-fade-enter-active,
.ui-tooltip-fade-leave-active {
   transition: opacity 0.3s ease, transform 0.3s ease;
}

.ui-tooltip-fade-enter-from {
   opacity: 0;
   transform: translate(-50%, 5px);
}

.ui-tooltip-fade-enter-to {
   opacity: 1;
   transform: translate(-50%, 0);
}

.ui-tooltip-fade-leave-from {
   opacity: 1;
   transform: translate(-50%, 0);
}

.ui-tooltip-fade-leave-to {
   opacity: 0;
   transform: translate(-50%, 5px);
}
