.ui-button {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   border-radius: 0.5rem;
   padding: 0.5rem 1rem;
   border: 1px solid;
   outline: none;
   cursor: pointer;
   transition: box-shadow 0.3s ease-in-out, background-color 0.15s linear,
      color 0.15s linear;
   z-index: inherit;
}

.ui-button.ui-button--wave {
   animation: wave 0.3s ease-in-out;
}

@keyframes wave {
   100% {
      box-shadow: 0 0 0 5px transparent;
   }
}

/* COLORS*/

/* Primary */

.ui-button--color-primary {
   box-shadow: 0 0 0 0 var(--primary-light);
}

/* filled */
.ui-button--color-primary.ui-button--variant-filled {
   background-color: var(--primary-main);
   border-color: var(--primary-main);
   color: var(--primary-contrast);
}

/* filled:hover */
.ui-button--color-primary.ui-button--variant-filled:hover {
   background-color: var(--primary-dark);
}

/* outlined */
.ui-button--color-primary.ui-button--variant-outlined {
   background-color: var(--primary-contrast);
   border-color: var(--primary-main);
   color: var(--primary-main);
}

/* outlined:over */
.ui-button--color-primary.ui-button--variant-outlined:hover {
   border-color: var(--primary-dark);
   color: var(--primary-dark);
}

/* ghost */
.ui-button--color-primary.ui-button--variant-ghost {
   background-color: transparent;
   border-color: transparent;
   color: var(--primary-main);
}

.ui-button--color-primary.ui-button--variant-ghost:hover {
   background-color: var(--primary-light);
   color: var(--primary-contrast);
}

.ui-button--color-primary.ui-button--variant-ghost:active {
   background-color: var(--primary-dark);
   color: var(--primary-contrast);
}
