.ui-button {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 1px solid;
   outline: none;
   cursor: pointer;
   transition: all 0.15s linear, box-shadow 0.3s ease-in-out;
   font-size: 1rem;
   z-index: inherit;
}

.ui-button__text {
   display: inline-block;
   line-height: 1;
}

.ui-button__text:has(svg) {
   display: contents;
}

.ui-button svg {
   flex-shrink: 0;
}

/* COLORS*/

/* Primary */

.ui-button.color-primary {
   box-shadow: 0 0 0 0 var(--primary-light);
}

/* filled */
.ui-button.color-primary.variant-filled {
   background-color: var(--primary-main);
   border-color: var(--primary-main);
   color: var(--primary-contrast);
}

/* filled:hover */
@media screen and (hover: hover) {
   .ui-button.color-primary.variant-filled:hover {
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
   }
}

@media screen and (hover: none) {
   .ui-button.color-primary.variant-filled:active {
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
   }
}

/* outlined */
.ui-button.color-primary.variant-outlined {
   background-color: var(--primary-contrast);
   border-color: var(--primary-main);
   color: var(--primary-main);
}

/* outlined:hover */
@media screen and (hover: hover) {
   .ui-button.color-primary.variant-outlined:hover {
      border-color: var(--primary-dark);
      color: var(--primary-dark);
   }
}

@media screen and (hover: none) {
   .ui-button.color-primary.variant-outlined:active {
      border-color: var(--primary-dark);
      color: var(--primary-dark);
   }
}

/* ghost */
.ui-button.color-primary.variant-ghost {
   background-color: transparent;
   border-color: transparent;
   color: var(--primary-main);
}

@media screen and (hover: hover) {
   .ui-button.color-primary.variant-ghost:hover {
      background-color: var(--primary-extra-light);
   }
}
.ui-button.color-primary.variant-ghost:active {
   background-color: var(--primary-light);
}

@media screen and (hover: none) {
   .ui-button.color-primary.variant-ghost:active {
      background-color: var(--primary-extra-light);
   }
}

/* light */

.ui-button.color-primary.variant-light {
   background-color: var(--primary-extra-light);
   border-color: var(--primary-extra-light);
   color: var(--primary-dark);
}

@media screen and (hover: hover) {
   .ui-button.color-primary.variant-light:hover {
      background-color: var(--primary-extra-light);
      filter: brightness(1.05);
   }
}
.ui-button.color-primary.variant-light:active {
   background-color: var(--primary-extra-light);
   filter: brightness(0.98);
}

@media screen and (hover: none) {
   .ui-button.color-primary.variant-light:active {
      background-color: var(--primary-extra-light);
      filter: brightness(0.98);
   }
}

/* Secondary */

.ui-button.color-secondary {
   box-shadow: 0 0 0 0 var(--secondary-light);
}

/* filled */
.ui-button.color-secondary.variant-filled {
   background-color: var(--secondary-main);
   border-color: var(--secondary-main);
   color: var(--secondary-contrast);
}

/* filled:hover */
@media screen and (hover: hover) {
   .ui-button.color-secondary.variant-filled:hover {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
   }
}

@media screen and (hover: none) {
   .ui-button.color-secondary.variant-filled:active {
      background-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
   }
}

/* outlined */
.ui-button.color-secondary.variant-outlined {
   background-color: var(--secondary-contrast);
   border-color: var(--secondary-main);
   color: var(--secondary-main);
}

/* outlined:hover */
@media screen and (hover: hover) {
   .ui-button.color-secondary.variant-outlined:hover {
      border-color: var(--secondary-dark);
      color: var(--secondary-dark);
   }
}

@media screen and (hover: none) {
   .ui-button.color-secondary.variant-outlined:active {
      border-color: var(--secondary-dark);
      color: var(--secondary-dark);
   }
}

/* ghost */
.ui-button.color-secondary.variant-ghost {
   background-color: transparent;
   border-color: transparent;
   color: var(--secondary-main);
}

@media screen and (hover: hover) {
   .ui-button.color-secondary.variant-ghost:hover {
      background-color: var(--secondary-extra-light);
   }
}
.ui-button.color-secondary.variant-ghost:active {
   background-color: var(--secondary-light);
}

@media screen and (hover: none) {
   .ui-button.color-secondary.variant-ghost:active {
      background-color: var(--secondary-extra-light);
   }
}

/* light */

.ui-button.color-secondary.variant-light {
   background-color: var(--secondary-extra-light);
   border-color: var(--secondary-extra-light);
   color: var(--secondary-dark);
}

@media screen and (hover: hover) {
   .ui-button.color-secondary.variant-light:hover {
      background-color: var(--secondary-extra-light);
      filter: brightness(1.05);
   }
}
.ui-button.color-secondary.variant-light:active {
   background-color: var(--secondary-extra-light);
   filter: brightness(0.98);
}

@media screen and (hover: none) {
   .ui-button.color-secondary.variant-light:active {
      background-color: var(--secondary-extra-light);
      filter: brightness(0.98);
   }
}

/* Sizes */

/* large */

.ui-button.size-lg {
   gap: 0.6rem;
   border-radius: 0.7rem;
   padding: 0.8rem 0.9rem;
}

.ui-button.size-lg svg {
   width: 1.2rem;
   height: auto;
}

.ui-button:has(svg:only-child).size-lg {
   padding: 0.8rem;
}

.ui-button.size-lg.rounded {
   border-radius: 1.4rem;
}

/* medium */

.ui-button.size-md {
   gap: 0.5rem;
   border-radius: 0.6rem;
   padding: 0.6rem 0.7rem;
}

.ui-button.size-md svg {
   width: 1.1rem;
   height: auto;
}

.ui-button:has(svg:only-child).size-md {
   padding: 0.6rem;
}

.ui-button.size-md.rounded {
   border-radius: 1.2rem;
}

/* small */

.ui-button.size-sm {
   gap: 0.4rem;
   border-radius: 0.5rem;
   padding: 0.4rem 0.6rem;
}

.ui-button.size-sm svg {
   width: 1rem;
   height: auto;
}

.ui-button:has(svg:only-child).size-sm {
   padding: 0.4rem;
}

.ui-button.size-sm.rounded {
   border-radius: 1rem;
}

.ui-button.size-lg.wave {
   animation: wave-lg 0.3s ease-in-out;
}

.ui-button.size-md.wave {
   animation: wave-md 0.3s ease-in-out;
}

.ui-button.size-sm.wave {
   animation: wave-sm 0.3s ease-in-out;
}

@keyframes wave-lg {
   100% {
      box-shadow: 0 0 0 0.5rem transparent;
   }
}

@keyframes wave-md {
   100% {
      box-shadow: 0 0 0 0.4rem transparent;
   }
}

@keyframes wave-sm {
   100% {
      box-shadow: 0 0 0 0.3rem transparent;
   }
}
