.ui-check {
   display: flex;
   align-items: center;
}

.ui-check input{
   position: relative;
   appearance: none;
   flex-shrink: 0;
   aspect-ratio: 1 / 1;
   padding: 0;
   border: 1px solid var(--neutral);
   cursor: pointer;
   transition: all 0.15s linear;
   outline: none;
}

.ui-check:hover input {
   border-color: var(--primary-dark);
}

.ui-check input:checked::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("/src/assets/icons/check.svg");
   background-repeat: no-repeat;
   background-position: center;
}

.ui-check:has(input:checked) input{
   background-color: var(--primary-main);
   border-color: var(--primary-main);
}

@media screen and (hover: hover) {
   .ui-check:has(input:checked):hover input{
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
   }
}

@media screen and (hover: none) {
   .ui-check:has(input:checked):active input{
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
   }
}

.ui-check label{
   cursor: pointer;
}

/* Sizes */

/* large */

.ui-check.size-lg{
   gap: 0.9rem;
}

.ui-check.size-lg input{
   width: 1.6rem;
   border-radius: 0.4rem;
}

.ui-check.size-lg label{
   font-size: 1.1rem;
}

@media screen and (hover: hover) {
   .ui-check.size-lg input:focus{
      box-shadow: 0 0 0 0.15rem var(--primary-light);
   }
}

@media screen and (hover: none) {
   .ui-check.size-lg input:active{
      box-shadow: 0 0 0 0.15rem var(--primary-light);
   }
}

/* medium */

.ui-check.size-md{
   gap: 0.7rem;
}

.ui-check.size-md input{
   width: 1.3rem;
   border-radius: 0.3rem;
}

.ui-check.size-md label{
   font-size: 1rem;
}

@media screen and (hover: hover) {
   .ui-check.size-md input:focus{
      box-shadow: 0 0 0 0.125rem var(--primary-light);
   }
}

@media screen and (hover: none) {
   .ui-check.size-md input:active{
      box-shadow: 0 0 0 0.125rem var(--primary-light);
   }
}

/* small */

.ui-check.size-sm{
   gap: 0.5rem;
}

.ui-check.size-sm input{
   width: 1rem;
   border-radius: 0.2rem;
}

.ui-check.size-sm label{
   font-size: 0.9rem;
}

@media screen and (hover: hover) {
   .ui-check.size-sm input:focus{
      box-shadow: 0 0 0 0.1rem var(--primary-light);
   }
}

@media screen and (hover: none) {
   .ui-check.size-sm input:active{
      box-shadow: 0 0 0 0.1rem var(--primary-light);
   }
}

